*{
  margin: 0;
  padding: 0;
}


#mainBody{
  background-color: PINK;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 1rem; */
  /* justify-items: center; */
}


.CounterWithClass{
  background-color: steelblue;
  display: grid;
  place-content: center;
  justify-items: center;
  height: 50vh;
}

.CounterWithUseState{
  background-color: steelblue;
  display: grid;
  place-content: center;
  justify-items: center;
  height: 50vh;
}

.toDoWithFunctionalComponent{
  background-color: steelblue;
  padding-left: 3em;
  /* display: grid; */
  /* place-content: center;
  justify-items: center; */
  height: 50vh;
}

.ToDoWithClassComponent{
  background-color: steelblue;
  padding-left: 3em;
  /* display: grid;
  place-content: center;
  justify-items: center; */
  height: 50vh;
}



.CounterWithUseState button, .CounterWithClass button{
  /* position:sticky; */
  border: none;
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  background-color: rgba(32, 56, 59, 0.1);
  font-size: 0.9rem;
  transition-property: width, heigh, border-radius;
  transition-duration: .3s;
}

.CounterWithUseState button:hover, .CounterWithClass button:hover{
  background-color: rgba(128, 76, 42, 0.3);
  font-size: 0.9rem;
  /* scale: 1.25; */
  border-radius: 0.5rem;
  /* height: 2.5rem; */
  width: 7rem; 
}

.toDoWithFunctionalComponent input{
  height: 2rem;
}
.toDoWithFunctionalComponent .clearButton{
  margin-left: 3rem;
}



.toDoWithFunctionalComponent .itemList{
  width: 99%;

}.toDoWithFunctionalComponent .item{
  display: flex;
  margin: .1rem;
  width: 100%;
}

.toDoWithFunctionalComponent .itemValue{
  flex-grow: 2;
}
.toDoWithFunctionalComponent .itemButton{
  height: 100%;
  width: 3rem;
  margin-right: 0.1rem;
}


