*{
  margin: 0;
  padding: 0;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-color: grey lightgrey ;
}

html::-webkit-scrollbar{
  background-color: steelblue;
  width: 1rem;
  position: fixed;
  /* border-radius: 1rem; */
}
 
html::-webkit-scrollbar-track {
  background-color: lightgrey;
  /* border-radius: 1rem; */
}

html::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 1rem;
  border: .2rem  solid lightgray
}

#mainBody{
  background-color: PINK;
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  /* gap: 1rem; */
  /* justify-items: center; */
  
  /* scroll-snap-type: y mandatory; */
}

#mainBody .firstPane{
  display: grid;
  grid-template-columns: 1fr 1fr;
  scroll-snap-align: start;

}

.CounterWithClass{
  background-color: steelblue;
  display: grid;
  place-content: center;
  justify-items: center;
  height: 50vh;
  
}

.CounterWithUseState{
  background-color: steelblue;
  display: grid;
  place-content: center;
  justify-items: center;
  height: 50vh;
}

.toDoWithFunctionalComponent{
  background-color: steelblue;
  padding-left: 3em;
  /* display: grid; */
  /* place-content: center;
  justify-items: center; */
  height: 50vh;
}

.ToDoWithClassComponent{
  background-color: steelblue;
  padding-left: 3em;
  /* display: grid;
  place-content: center;
  justify-items: center; */
  height: 50vh;
}



.CounterWithUseState button, .CounterWithClass button{
  /* position:sticky; */
  border: none;
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  background-color: rgba(32, 56, 59, 0.1);
  font-size: 0.9rem;
  transition-property: width, heigh, border-radius;
  transition-duration: .3s;
}

.CounterWithUseState button:hover, .CounterWithClass button:hover{
  background-color: rgba(128, 76, 42, 0.3);
  font-size: 0.9rem;
  /* scale: 1.25; */
  border-radius: 0.5rem;
  /* height: 2.5rem; */
  width: 7rem; 
}

.toDoWithFunctionalComponent input{
  height: 2rem;
}
.toDoWithFunctionalComponent .clearButton{
  margin-left: 3rem;
}



.toDoWithFunctionalComponent .itemList{
  width: 99%;

}.toDoWithFunctionalComponent .item{
  display: flex;
  margin: .1rem;
  width: 100%;
}

.toDoWithFunctionalComponent .itemValue{
  flex-grow: 2;
}
.toDoWithFunctionalComponent .itemButton{
  height: 100%;
  width: 3rem;
  margin-right: 0.1rem;
}



.Automata{
  background-color: pink;
  width: 100%;
  height: 100vh;
  /* grid-column: span 2; */
  display: grid;
  scroll-snap-align: start;
}

.Automata .react-p5{
  display: grid;
  place-content: center;
}

/* .Automata Sketch{
  margin: auto;
} */
.automataMenu{
  position: absolute;
  padding: 1rem;
  top: calc(2rem + 100vh);
  right: 2rem;
  background-color: rgba(128, 158, 19, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.Navbar{
  position: fixed;
  background-color: aquamarine;
  height: 100vh;
  width: 10rem;
  top:0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-items: stretch; */
  left: -9rem;
  transition: position, 0.5s;
}

.Navbar:hover{
  left: 0;
}


.Navbar button{
  width: 100%;
  border: none;
  background-color: rgba(128, 158, 19, 0);
  transition: border, .5s;
}

.Navbar button:hover{
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);

}


.JokeSection{
  scroll-snap-align: start;
  
  background-color: steelblue;
  width: 100%;
  height: 100vh;
  display: grid;
}
.chuckJokes, .dadJokes{
  display: flex;
  /* align-items: baseline; */
  flex-wrap: wrap; 
  flex-direction: column;
  align-content: flex-start;
  /* display: grid;
  grid-template-rows: 1fr 1fr; */
  padding-left: 2rem;  
  /* height: 50%; */
  padding: 2rem;
  gap: 1rem;
  overflow: hidden;
  min-height: 40vh;
  justify-content: stretch;
}

.yoMamaJokes{
  padding-left: 2rem;
  
}
.JokeCard{
  background-color: rgba(183, 183, 183, 0.5);
  width: 10rem;
  border-radius: 1rem;
  padding: 1rem;
}

.JokeCard:hover{
  background-color: rgba(248, 119, 119, 0.5);

}





.ConwaysGameOfLife{
  background-color: pink;
  width: calc(100% - 2rem);;
  height: 100vh;
  /* grid-column: span 2; */
  display: grid;
  justify-content: center;
  scroll-snap-align: start;
}

.gameOfLifeMenu{
  position: absolute;
  padding: 1rem;
  top: calc(2rem + 300vh);
  right: 2rem;
  background-color: rgba(128, 158, 19, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}